.navbar-icon{
    border:none !important;

}
.navbar-light{
    background-color: #14213d !important;
    color:#fff !important;
}
.nav-link ,.navbar-brand{
    color:#e5e5e5 !important;
}
.inputStyle{
    border-radius: 50px;
    border:none;
    
}


// .nav-link:hover{

// }

// media queries

@media only screen and (max-width: 600px) {
    
}
