<div class="container-fluid">
    <div class="row">
        <div class="col-12 paddingReset">
            <div style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                    style="height: 100%; width: 100%;">
                    <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill:  #14213d;"></path>
                </svg></div>
        </div>
        <div class="col-lg-12 footerInfo pb-4">
            <h3 class="text-center text-white">Developed By Bhaskar Pandey .</h3>
        </div>
        <!-- <div class="col-lg-12 d-flex justify-content-center footerInfo pt-2 pb-4">
            <img  src="../../../assets/socialMedia/instagram (1).png" height="20px" width="20px" />
            <img class="ml-4" src="../../../assets/socialMedia/linkedin (1).png" height="20px" width="20px" />
            <img class="ml-4" src="../../../assets/socialMedia/github.png" height="20px" width="20px" />
            <img class="ml-4" src="../../../assets/socialMedia/gmail.png" height="20px" width="20px" />
        </div> -->
    </div>
</div>