<!-- main landing slider or image -->

<div class="container-fluid">

    <!-- LANDING BOX -->

    <div class="row">
        <div class="col-lg-12 landingBox">
            <div class="row mt-5 mb-5">
                <div class="offset-1 col-lg-5 my-auto">
                    <div class="mainHeadingContainer">
                        <p class=" text-color bigHeading mb-0">Start building your</p>
                        <p class=" text-color bigHeading">game zone.</p>
                        <p class="smallHeading text-color mt-3">We'll take care of rest.</p>
                    </div>

                    <div class="d-flex  justify-content-start mt-5">
                        <button type="button" class="landing-button ">Have a look &rarr;</button>
                        <!-- <button type="button" class="landing-button ">Build Now</button> -->
                    </div>

                    <!-- <p>Start Building </p> -->
                </div>
                <div class="col-lg-5 offset-1 d-flex justify-content-center align-items-center">
                    <img src="../../../assets/images/Untitled.png" class="landingImage" />
                </div>
            </div>
        </div>
        <div class="col-12 paddingReset">
            <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                    style="height: 100%; width: 100%;">
                    <path d="M0.00,49.99 C150.00,150.00 271.49,-49.99 500.00,49.99 L500.00,0.00 L0.00,0.00 Z"
                        style="stroke: none; fill: #14213d;"></path>
                </svg></div>
        </div>
    </div>

    <!-- Browse Box -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center productMainHeading">Our Products</h1>
        </div>
        <div class="col-lg-10 offset-lg-1 mt-4">
            <div class="row d-flex justify-content-between">

                <div class="col-lg-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/case1-500x500.jpg" class="card-img-top card-image"
                                alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Ant-Sports</h5>
                            <p class="card-text text-left">Intel Core i5-10400F 10th Gen Gaming Dekstop (8GB RAM/256GB
                                NVMe SSD/4GB NVIDIA GeForce GTX 1650 Graphics).</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 ">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/case2.jpg" class="card-img-top card-image" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Razor Infinity</h5>
                            <p class="card-text text-left">Intel Core i7-10750H 6-Core, NVIDIA GeForce RTX 2060, 15.6"
                                FHD 1080p 144Hz, 16GB RAM, 512GB SSD.</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mt-4 ">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/redCase.png" class="card-img-top card-image" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Lenovo Legion</h5>
                            <p class="card-text text-left">AMD Ryzen 5 4600H 15.6-inch Full HD IPS Laptop (8GB/512GB
                                SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6 Graphics).</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/case1-500x500.jpg" class="card-img-top card-image"
                                alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Ant-Sports</h5>
                            <p class="card-text text-left">Intel Core i5-10400F 10th Gen Gaming Dekstop (8GB RAM/256GB
                                NVMe SSD/4GB NVIDIA GeForce GTX 1650 Graphics).</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 ">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/case2.jpg" class="card-img-top card-image" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Razor Infinity</h5>
                            <p class="card-text text-left">Intel Core i7-10750H 6-Core, NVIDIA GeForce RTX 2060, 15.6"
                                FHD 1080p 144Hz, 16GB RAM, 512GB SSD.</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mt-4 ">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/redCase.png" class="card-img-top card-image" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Lenovo Legion</h5>
                            <p class="card-text text-left">AMD Ryzen 5 4600H 15.6-inch Full HD IPS Laptop (8GB/512GB
                                SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6 Graphics).</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 ">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/case2.jpg" class="card-img-top card-image" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Razor Infinity</h5>
                            <p class="card-text text-left">Intel Core i7-10750H 6-Core, NVIDIA GeForce RTX 2060, 15.6"
                                FHD 1080p 144Hz, 16GB RAM, 512GB SSD.</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mt-4 ">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <img src="../../../assets/images/redCase.png" class="card-img-top card-image" alt="...">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Lenovo Legion</h5>
                            <p class="card-text text-left">AMD Ryzen 5 4600H 15.6-inch Full HD IPS Laptop (8GB/512GB
                                SSD/Windows 10/NVIDIA GTX 1650 4GB GDDR6 Graphics).</p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="view-button " type="button">View</button>
                        </div>
                    </div>
                </div>




            </div>


        </div>
    </div>


    <!-- Side Info Box -->
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center mt-4 mb-2">
            <button class="view-button " type="button">View More</button>
        </div>

    </div>

</div>























<!-- Footer -->
<!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->